.container {
  text-align: center;
  padding: 12px;
  padding-bottom: 4px;
  margin: 4px;
  border: 3px solid gray;
  height: 100%
}

.mainContainer {
  border-top: 2px solid gray;
  text-align: left;
  display: flex;
  margin: 4px;
  padding-top: 8px;
}